.container{
    
}
.container-navbar{
    background-color: #333;
    width: 100%;
    height: 15vh;
}

.ul-navbar{
    display: flex;
    height: 110px;
    justify-content: center;
    align-items: center;
}

.li-navbar{
    list-style: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 30px;

}

.li-navbar:hover{
    background-color: crimson;
    transition: .3s ease-in-out;
    transition-delay: .3;
    border-radius: 8px;
}

.a-navbar{
    text-decoration: none;
    color: white;
}

.container-content{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content{
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box
}

.img-content{
    width: 50%;
    height: auto;
    justify-content: center;
    
}

.container-footer{
    height: 15vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
    font-size: 40px;
}